
@model Post

@{
    ViewData["Title"] = "Create Post";
    
}





<form id="form" method="post" asp-controller="Home" asp-action="SendPost" asp-route-id="@Context.Session.GetInt32("LoggedInAuthor")">
    <fieldset>
        <legend>Create Post</legend>
    </fieldset>
    <div>
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" id="titleInput"/>
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label asp-for="Description">Description:</label>
        <input asp-for="Description" id="descInput"/>
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <label asp-for="Content">Content:</label>
        <input asp-for="Content" id="contentInput"/>
        <span asp-validation-for="Content"></span>
    </div>
    <div>
        <input type="button" value="Create" class="submit" />
    </div>




</form>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function (){
            $('.submit').click(function () {
                var t = $("#titleInput").val()
                var d = $("#descInput").val()
                var c = $("#contentInput").val()
                var form = document.getElementById("form")

                if (t === "" || d === "" || c === "") {
                    alert("Please fill all fields")
                }
                else {
                    $("#form").submit()
                }
            })
        })
        function validation() {
           

        }


    </script>
}