
@model IEnumerable<Author>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <h3>Select a user to login as</h3>
    <ul style="list-style:none">

    
    @foreach (var a in Model)
    {
        <li>
                <p>
                    <a asp-controller="Home" asp-action="InitializeSession" asp-route-id="@a.Id">
                        @a.Name
                    </a>
                </p>
        </li>
    }
    </ul>

</div>
